$segoe: "Segoe UI", "Open Sans", helvetica, sans-serif;
$segoe-semibold: "Segoe UI Semibold", "Open Sans", helvetica, sans-serif;
$segoe-bold: "Segoe UI Bold", "Open Sans", helvetica, sans-serif;
$segoe-light: "Segoe UI Light", "Open Sans", helvetica, sans-serif;

$light-color:#ffffff;
$accent-color: #1677ff;
$background: #f0f2f5;

:root {
  --light-color: #ffffff;
  --accent-color: #1677ff;
  --background: #f0f2f5;
}
